@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');

.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  margin:0;
  padding: 0;
}

.logo-icon {
  height: 8vh;
  margin: 0;
  padding: 0;
}

.dl-beta {
  color: white;
}

.github-icon {
  height: 8vh;
  margin: 0;
  padding-left: 1vh;
  justify-content: end;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dockerLocal {
  padding-top: 2vh;
  font-family: 'Roboto';
  font-size: 3em;
  font-weight: bold;
  color: #33B5E5;
}

.info {
  width: 100%;
}

.App-header {
  padding-bottom: 10vh;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin:0;
}

.App-link {
  color: #61dafb;
}

.abt-us {
  background-color: black;
  color: white;
  margin: 0;
}

.profile-pic {
  width: 30vh;
}

.github-icon-profile {
  height: 6vh;
  margin: 0;
  justify-content: end;
  padding-bottom: 0.25em;
}

.grid-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.grid-item {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 2vh;
  height: 42.5vh;
}